<div *ngIf="cart.length == 0">
  <h1 class="empty-cart-message" *ngIf="cart.length == 0">
    Your cart is empty!
  </h1>
</div>
<div *ngIf="cart.length > 0" class="cart-container">
  <div class="cart-panel">
    <app-cart-item
      class="cart-item"
      *ngFor="let cartItem of cart"
      [cartItem]="cartItem"
      (removeItem)="removeItem($event)"
      (updateQuantity)="updateQuantity($event)"
    ></app-cart-item>
    <h1>Total ${{ cartTotal }}</h1>
  </div>
  <div class="cart-panel form-margin">
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <p>Full name</p>
      <input
        type="text"
        name="name"
        placeholder="(minimum 3 characters)"
        required
        minlength="3"
        [(ngModel)]="name"
        #fullName="ngModel"
      />
      <br />
      <br />
      <p>Address</p>
      <input
        type="text"
        name="address"
        placeholder="(minimum 6 characters)"
        required
        minlength="6"
        [(ngModel)]="address"
        #addressField="ngModel"
      />
      <br />
      <br />
      <p>Credit card number</p>
      <input
        type="text"
        name="creditCardNumber"
        placeholder="(16-digit number)"
        required
        pattern="[0-9]*"
        minlength="16"
        maxlength="16"
        [(ngModel)]="creditCardNumber"
        #creditCard="ngModel"
      />
      <br />
      <br />
      <br />
      <input type="submit" [disabled]="form.invalid" value="Purchase" />
    </form>
    <div *ngIf="form.invalid">
      <div *ngIf="fullName.dirty">
        <div *ngIf="fullName.errors?.['required']">
          Please enter your full name.
        </div>
        <div *ngIf="fullName.errors?.['minlength']">
          Your full name must be at least 3 characters.
        </div>
      </div>
      <div *ngIf="addressField.dirty">
        <div *ngIf="addressField.errors?.['required']">
          Please enter your address.
        </div>
        <div *ngIf="addressField.errors?.['minlength']">
          Your address must be at least 6 characters.
        </div>
      </div>
      <div *ngIf="creditCard.dirty">
        <div *ngIf="creditCard.errors?.['required']">
          Please enter your credit card number.
        </div>
        <div
          *ngIf="creditCard.errors?.['minlength'] || creditCard.errors?.['maxlength']"
        >
          Your credit card number must be 16 numbers.
        </div>
        <div *ngIf="creditCard.errors?.['pattern']">
          Your credit card number must be only numbers.
        </div>
      </div>
    </div>
  </div>
</div>
