.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

img {
  width: 100px;
  border-radius: 10px;
}

.number-input {
  width: 80px;
  text-align: center;
}
